<md-toolbar color="primary"></md-toolbar>


  <md-card>
    <md-card-content>
      <md-input-container>
        <input type="text" mdInput [(ngModel)]="username" placeholder="username" name="username">
      </md-input-container>
      <md-input-container>
        <input type="password" mdInput [(ngModel)]="password" placeholder="password" name="password">
      </md-input-container>

      <button type="submit" md-raised-button (click)="loginAsClient()">Login as Client</button>
      <button type="submit" md-raised-button >Login as Salesman</button>
    </md-card-content>
  </md-card>
